*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color:#F3E2F4;
	background-size: 100%;
	background-repeat: no-repeat;
}

h1{
	margin-left: 80px;
	text-align: center;
	color:#FDF0FC;
	font-family:sans-serif; 
	font-size: 60px;
}

.menu ul li{
	text-decoration: none;
}

.menu li{
	margin:0px 10px;
}

h2{
	text-align: center;
	color:#A888A6;
	font-family:sans-serif; 
	font-size: 30px;

}
h3{
	text-align: center;
	color: #747474;
	font-family:sans-serif; 
	font-size: 18px;
}
#imgm{

	width: 350px;
	margin-left: auto;
    margin-right: auto;
    display: block;

}
#imge{

	width: 80px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.menu{
	height: 200px;
	width: 100%;
	background-color: #BBA2B9;
	margin: auto;
	display: inline-block;

 }

 .nav-link{
 	color:#FDF0FC;
 }

.titulo{
	background-color: #BBA2B9;
}
 .botao{
 	text-align: center;
 	padding: 10px 30px;
    background-color:#BBA2B9;
    font-family:sans-serif;
    font-size: 15px;
    color:#FDF0FC;
    border-color: #BBA2B9 black #BBA2B9 black;
    border-radius: 30px;
 }
  
 #box2{
 	margin-left: 50px;
 	margin-right: 50px;
 }
#rodape{
 	align-items: center;
	height: 120px;
	width: 100%;
	background-color: #BBA2B9;
 }

 video{
    width: 700px;
    margin: 10 auto;
    display: block;
}

#textoR{
	text-align: center;
	color:#FDF0FC;
	

}

#rodape a{
	text-decoration: none;
	
}

.conta{
	background-color:#F3E2F4;
}

.conta input{
	width: 60%;
	margin: auto;
}

.conta label{
	margin: auto;
	text-align: center;
}

.conta button{
	margin: auto;
	background-color: #BBA2B9;
	border-color:#BBA2B9;
}	

.conta button:hover{
	background-color: #F3E2F4;
}		

#link{
	color: #BBA2B9;
}
form-control{
	align-items: center;
}