* {
  margin: 0px;
  padding: 0px;
}

body {
  background-repeat: no-repeat;
  background-color: #fdf0fc !important;
}

.icone{
  height: 60px;
}

/* Titulo */

.titulo {
  font-family: League Gothic;
  font-size: 40px;
  color: #fdf0fc;
  text-align: center;
  background-color: #bba2b9;
  margin-bottom: 0px;
}

.titulo p{
	margin-bottom: 0px;
}

/* tags H */

h1 {
  margin-left: 80px;
  text-align: center;
  color: #fdf0fc;
  font-family: sans-serif;
  font-size: 60px;
  background-color: #bba2b9;
}

.subtitulo {
  text-align: center;
  color: #a888a6;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;

}


/* Menu */

.navbar{
  background-color:  #bba2b9;
}

.container {
  width: 100%;
  margin: 0 auto;
}

li {
  text-align: center;
  display: inline-block;
}

.navbar-brand{
  color: #f3e2f4;
}

.nav{
  width: 100%;
  margin: 0 auto;
}

.navbar button{
  border: #f3e2f4 1px solid;

}

.navbar-toggler-icon{
  color: red;
  background-color: cornflowerblue;
  z-index: 1000;
}

/* .navbar span{
  background-color:  #f3e2f4;
  } */

  .nav-item .nav-link{
    text-align: center;
    font-size: 17px;
    color: #fdf0fc !important;
    border-style: solid;
    border-width: 2px;
    border-color: #bba2b9 #747474 #747474 #bba2b9;
    border-radius: 30px;
    padding: 12px;
    font-weight: 600;
    margin-right: 12px;
  }

  .nav-item .nav-link:hover{
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #bba2b9 #747474 #747474 #bba2b9;
    border-radius: 30px;
    background-color: #9D7C9A; 
  }


  .nav-item .nav-link a:hover{
    color: white;
    
  }

  /* outros */

  #imgm {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #imge {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #rodape {
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: #bba2b9;
  }

  .video {
    width: 700px;
    margin: 20px auto;
    display: block;
  }

  #textoR {
    text-align: center;
    color: #fdf0fc;
  }
  .texto_contato{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#585858;

  }

  #rodape a {
    text-decoration: none;
  }

  .conta {
    width: 60%;
    margin: 3px auto;
  }

  .conta label {
    margin: auto;
    text-align: center;
  }

  .conta .btn-primary{
    background-color:#bba2b9;
    border: 0px;
  }

/* .conta button {
  margin: auto;
  background-color: #bba2b9;
  border-color: #bba2b9;
  } */

/* .conta button:hover {
  background-color: #f3e2f4;
  } */

  form-control {
    align-items: center;
  }

  .texto_padrao {
    text-align: center;
    color: #747474;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
  }

  mark{
    background-color:#A888A6 !important;
    color:#4F4F4F !important;
  }
  
  .img-thumbnail{
    border-radius: 10px !important;
    border: 2px solid #BBA2B9 !important;
  }