* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3e2f4;
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  margin-left: 80px;
  text-align: center;
  color: #fdf0fc;
  font-family: sans-serif;
  font-size: 60px;
  background-color: #bba2b9;
}

.menu{
  background-color: #bba2b9;
}

.menu ul li {
  text-decoration: none;
}

.menu li {
  margin: 0px 10px;
}

.menu .navbar-default {
  background-color: #bba2b9;
}

.navbar-default .navbar-collapse{
  margin: 10px 0px;
}

h2 {
  text-align: center;
  color: #a888a6;
  font-family: sans-serif;
  font-size: 30px;
}
h3 {
  text-align: center;
  color: #747474;
  font-family: sans-serif;
  font-size: 18px;
}
#imgm {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#imge {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.menu {
  /* height: 100px; */
  width: 100%;
  background-color: #bba2b9;
  margin: auto;
  /* display: inline-block; */
}

.nav-link {
  color: #fdf0fc;
}

.titulo {
  font-family: sans-serif;
  font-size: 40px;
  color: #fdf0fc;
  text-align: center;
  background-color: #bba2b9;
  margin-bottom: 0px;
}

.titulo p{
	margin-bottom: 0px;
}

.botao {
  text-align: center;
  /* padding: 10px 30px; */
  font-family: sans-serif;
  font-size: 20px;
  color: #fdf0fc;
  border-style: solid;
  border-width: 2px;
  border-color: #bba2b9 #747474 #747474 #bba2b9;
  border-radius: 30px;
}

.botao {
  transition-duration: 0.3s;
}

.botao:hover {
  background-color: #9D7C9A; 
}

.botao a:hover{
  color: white;
}
#box1{
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #BBA2B9;

 }
  

#box2 {
  margin-left: 50px;
  margin-right: 50px;
}
#rodape {
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #bba2b9;
}

video {
  width: 700px;
  margin: 10px auto;
  display: block;
}

#textoR {
  text-align: center;
  color: #fdf0fc;
}

#rodape a {
  text-decoration: none;
}

.conta {
  background-color: #f3e2f4;
}

.conta input {
  width: 60%;
  margin: auto;
}

.conta label {
  margin: auto;
  text-align: center;
}

.conta button {
  margin: auto;
  background-color: #bba2b9;
  border-color: #bba2b9;
}

.conta button:hover {
  background-color: #f3e2f4;
}

#link {
  color: #bba2b9;
}
form-control {
  align-items: center;
}
